<div class="panel panel-default">
  <div class="panel-body">
        <div class="">
                <div style=margin-top:50px;margin-left:350px *ngIf="isValidLoader"  class="loader"></div>
                <ul class="list-group">
                     <li *ngFor="let survey of showSurvey" class="list-group-item">
                        <label>Title </label><span> {{survey.title}}</span><br>
                        <label>Description </label><span> {{survey.description}}</span><br>
                    <div class="row" style=margin-left:400px> 
                         <div class="col-sm-6"><label>CreateDate </label><span> {{survey.createdOn | date}}</span></div>
                         <div class="col-sm-6"><label>CloseDate </label><span> {{survey.expireOn | date}}</span></div>
                    </div>
                     </li>
                </ul>
          </div>
  </div>
</div>