
<div class="card">
  <!--<img src="img_avatar2.png" alt="Avatar" style="width:100%">-->
<div style=height:270px  class="container">
      <div class="row">
        <a  style="display:inline-block;"> <span style=margin-left:65px class= "picture"></span></a>
     </div>
   <div class="row">
        <div class="admin">{{adminData.username}}</div>
  </div>
     <div class="row">
        <div class="admin" *ngFor="let role of rolesData">{{role.roleName}}</div>
    </div> 
       <div style=margin-top:10px >
            <button type="button" class="btn btn-primary " [routerLink]="['/account']" >Account</button>
            <button style=margin-left:25px  type="button" class="btn btn-primary active"(click)="logOut()" >Logout</button>
       </div>
   </div>
</div>

