
<!--<form class="fromGroup" novalidate (ngSubmit)="onSubmit()" [formGroup]="user">
    <div class="user">
         <span>UserName</span>
         <input  class="form-control"type="text" placeholder="Enter user name" formControlName="username">
        <div class="error" *ngIf="user.get('username').hasError('required') && user.get('username').touched">
            <strong class="alert alert-warning"> Name is required</strong>
        </div>
        <div class="error" *ngIf="user.get('username').hasError('minlength') && user.get('username').touched">
            <strong class="alert alert-warning">Minimum of 2 characters</strong>
        </div>
    </div>
    <div class="user1">
        <span>UserPassword</span>
        <input class="form-control" type="password" placeholder="Enter user password" formControlName="password">
        <div class="error" *ngIf="user.get('password').hasError('required') && user.get('password').touched">
            <strong class="alert alert-info"> Password is required</strong>
        </div>
        <div class="error" *ngIf="user.get('password').hasError('minlength') && user.get('password').touched">
            <strong class="alert alert-danger"> Minimum of 2 characters</strong>
        </div>
    </div>
    <button class="btn btn-info" type="submit" [disabled]="user.invalid">Login</button>
</form>-->
<div class="aa">
    <h2>Login</h2>
    <form class="fromGroup" novalidate (ngSubmit)="onSubmit()" [formGroup]="user">
       <input class="form-control" type="text" placeholder="Please Enter Username" formControlName="username"><br>
       <div class="error" *ngIf="user.get('password').hasError('required') && user.get('password').touched">
            <strong class="alert alert-info"> Password is required</strong>
        </div>
       <input class="form-control" type="password" placeholder="Please Enter Password" formControlName="password"><br> 
       <div class="error" *ngIf="user.get('password').hasError('minlength') && user.get('password').touched">
            <strong class="alert alert-danger"> Minimum of 2 characters</strong>
        </div>
        <button class="btn btn-info" type="submit" [disabled]="user.invalid">Login</button>
    </form>
</div>


