:host {
  background:#900C3F;
  color: #fff;
  position: fixed;
  left: 0;
  top: 65px;
  right: auto;
  bottom: 0;
  width: 20%;
  min-width: 250px;
  overflow-x: scroll;
  z-index: 9999;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

ul {
  font-size: 18px;
  line-height: 3;
  font-weight: 400px;
  padding-top: 50px;
  list-style: none;
}