
<nav class="navbar navbar-default" class="navbar navbar-default navbar-fixed-top navClass" *ngIf='!showNav'>
      <div class="container-fluid" style=background:black>
            <div class="navbar-header" *ngIf="hasLoggedIn()">
                  <a class="navbar-brand" href="#menu-toggle" id="menu-toggle"><i class="glyphicon glyphicon-menu-hamburger"  ></i></a>
            </div>
      </div>
</nav>

<div id="wrapper">
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                  <li class="sidebar-brand">
                        My GoodSchool
                  </li>
                  <li routerLink="/adduser">Add User</li>
                  <li routerLink="/home">Home</li>
                  <li routerLink="/messaging">Messaging_Service</li>
                  <li routerLink="/internship">Internship</li>
                  <li routerLink="/news and updates">News && Updates</li>
                  <li routerLink="/events">Events</li>
                  <li routerLink="/poll">Poll</li>
                  <li routerLink="/survey">Survey</li>
                  <li routerLink="/account">Account</li>
                  <li routerLink="/circular">Circular</li>
            </ul>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">
            <div class="container-fluid">
                  <router-outlet></router-outlet>
            </div>
      </div>
      <!-- /#page-content-wrapper -->

</div>
