<div class="panel panel-default">
    <div class="panel-body">
      <div class="add-button">
         <button type="button" class="btn btn-success btn-circle pull-right"[routerLink]="['/add-poll']">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
         </button>
     </div>
         <div class="">
                <div style=margin-top:50px;margin-left:350px *ngIf="isValidLoader"  class="loader"></div>
                <ul class="list-group" style="margin-top:40px">
                     <li *ngFor="let poll of polls" class="list-group-item">
                        <label>Question </label><span> {{poll.question}}</span><br>
                        <ul>
                            <li *ngFor="let option of poll.pollOption">
                             <label>Option Name </label><span> {{option.optionName}}</span>
                            </li>
                        </ul>
                      <div class="row" style=margin-left:400px> 
                        <div class="col-sm-6"><label>CreateDate </label><span> {{poll.createdOn | date}}</span></div>
                        <div class="col-sm-6"><label>CloseDate </label><span> {{poll.expireOn | date}}</span></div>
                      </div>
                     </li>
                </ul>
          </div>
             <ul class="pager">
               <li><a (click)="previousPoll()">Previous</a></li>
               <li><a (click)="nextPoll()">Next</a></li>
             </ul>
    </div>
</div>

