
     <div class="panel panel-default">
         <div class="panel-heading" style=background:green >Add Survey
               <button style=background:white type="button" class="close pull-right" aria-label="Close" (click)="back()">
                   <span aria-hidden="true">&times;</span>
               </button>
         </div>
             <div *ngIf="isValidFormSubmitted " style=margin-top:200px;margin-left:250px>
                 <div class="local">
                  <h3 style=text-align:center;padding-top:15px> Survey Submit successfully</h3>
                </div>
             </div>
         <div style=margin-top:50px;margin-left:350px *ngIf="isValidLoader"  class="loader"></div>   
     <div [hidden]="isValidFormSubmitted">
        <form  [formGroup]="survey" (submit)="onSurvey()">
           <div class="panel-body">  
                   <span>Enter Title</span>
                   <span style=background:red  class="badge">{{50-survey.value.title.length}}</span>
                   <input style=width:450px class="form-control"type="text" placeholder="add title " formControlName="title" maxlength="50" required>
                <div style=width:450px class="error" *ngIf="survey.get('title').hasError('required')&& survey.get('title').touched"class="alert alert-warning"> Title is required</div>
                   <span>Description</span>
                   <span style=background:red  class="badge">{{100-survey.value.description.length}}</span>
                   <textarea style=width:450px  class="form-control" formControlName="description" row="3" maxlength="100" required></textarea>
                <div style=width:450px class="error" *ngIf="survey.get('description').hasError('required') && survey.get('description').touched"class="alert alert-warning"> description is required</div>
                    <span>Due Date</span>
                    <input style=width:450px class="form-control" type="date" placeholder=" " formControlName="expiredAt" (change)="onDueDate($event)" >      
                <div style=width:450px class="error" *ngIf="survey.get('expiredAt').hasError('required') && survey.get('expiredAt').touched"class="alert alert-warning">Date is required </div>
                    <span>Audience:</span>
                    <select style=width:450px class="form-control" formControlName="roleIds" multiple >
                        <option *ngFor="let role of rolesData" [value]="role.roleId" >{{role.roleName}}</option>
                    </select>
                    <u>
                      <h4>Questions</h4>
                    </u>
              <div formArrayName="surveyQuestion">
                  <div class="row"  *ngFor="let q of survey.controls.surveyQuestion.controls; let i=index;" [formGroupName]="i" style="background: rgba(232, 238, 238, 0.59); margin: 10px 1px; padding: 7px 5px;">
                      <div class="form-group col-sm-4 col-xs-6">
                        <label for="text" class="question">Question {{i+1}}</label>
                         <input type="text" class="form-control" placeholder="Enter Question {{i+1}}" id="text" formControlName="question">   
                      </div> 
                      <div class="form-group col-sm-4 col-xs-6">
                              <label for="surveyType" class="question">Question Type</label>
                              <select class="form-control" id="surveyType" formControlName="surveyQuestionTypeId">
                                    <option [value]="1">Single</option>
                                    <option [value]="2">multiple</option>
                              </select>
                      </div>
                      <div class="form-group col-sm-2 col-xs-6" style="margin-top: 23px;">
                              <button type="button" class="btn btn-danger" title="Add Options" [disabled]="(survey.controls.surveyQuestion.controls[i].controls.surveyQuestionOption.length==5)"(click)="addOptions(survey,i)">Add Options</button>
                          </div>
                      <div class="form-group col-sm-2 col-xs-6" style=" margin-top: 23px;">
                             <button type="button" class="btn btn-danger active" title="Delete Question" (click)="removeQuestions(survey,i)" [disabled]="survey.controls.surveyQuestion.length<=1">
                                 <span class="glyphicon glyphicon-trash" ></span>
                             </button>
                      </div>
               <!--choice surveyQuestionOption-->
     <div class="col-xs-10" formArrayName="surveyQuestionOption">
            <div class="row" *ngFor="let ch of survey.controls.surveyQuestion.controls[i].controls.surveyQuestionOption.controls; let ii = index"
              [formGroupName]="ii">
              <div class="form-group col-xs-8">
                <label for="ch">Choice {{ii+1}}:</label>
                <input type="text" class="form-control" formControlName="name" placeholder="Enter name {{ii+1}}" id="ch">
              </div>
              <div class="col-xs-2" style="margin-top:23px;">
                <button type="button" class="btn btn-danger active" title="Delete Options" (click)="removeOptions(survey,i,ii)" [disabled]="survey.controls.surveyQuestion.controls[i].controls.surveyQuestionOption.length<=2">
                    <span class="glyphicon glyphicon-remove"></span>
                 </button>
              </div>
            </div>
            <div>
               <div class="alert alert-warning col-xs-10" *ngIf="survey.controls.surveyQuestion.controls[i].controls.surveyQuestionOption.length==5">
                  Maximum options are allowed.
              </div>
          </div>
            <div class="alert alert-warning col-xs-10" *ngIf="survey.controls.surveyQuestion.controls[i].controls.surveyQuestionOption.length<2">
                Minimum 2 options are required.
              </div>
        </div>
      </div>
    </div>
               <button class="btn btn-info" type="submit" [disabled]="survey.invalid">Submit</button>
                <button type="button" class="btn btn-danger" [disabled]="survey.controls.surveyQuestion.length==5"(click)="addQuestions(survey)">Add Questions</button>
 </div>
       </form>
   </div>
 </div>     